:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  background-color: whitesmoke;
}

:root {
  --p-primary-color: darkred !important;
  --p-primary-600: #b10000 !important;
  --p-primary-500: #c10101 !important;
  --p-primary-400: #cd0303 !important;
  --p-primary-300: #da0202 !important;

  --p-tabmenu-item-active-color: darkred !important;
  --p-tabmenu-item-active-border-color: darkred !important;

  --p-datatable-header-cell-selected-color: darkred !important;
  --p-datatable-header-cell-selected-background : #fff8f8 !important;
}

.p-tabmenu-item-link {
  padding: 8px 12px 4px 12px !important
}

.svg {
  height: 16px;
  width: 16px;
}

body {
  margin: 0;
  max-width: 100vw;
  height: 100vh;
  height: 100dvh;
  height: var(--vh);

  #app {
    height: 100%;
  }
}

.footer {
  border-top: 1px solid #dee2e6;
}

.p-menubar {
  width: 100%;
  justify-content: space-between;
  border-radius: 0 !important;
}

.p-tabmenu-tablist {
  justify-content: center;
}

.p-datatablex {
  border: 1px solid #dee2e6;
  border-radius: 6px;
  overflow: hidden;
}

.p-toolbar {
  border: none !important;
  border-bottom: 1px solid #dee2e6 !important;
  border-radius: 0 !important;
}

.title {
  margin-bottom: 12px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}

.p-tabmenu-item-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px !important;

  .label {
    font-size: 0.6em;
  }

}

.p-tabmenu.as-tabs {
  height: 50px;

  .p-tabmenu-item-link {

  }

  .p-tabmenu-item-link .label {
    font-size: 0.9em !important;
  }

  .p-tabmenu-tablist {
    background: transparent !important;
    border: none;
    justify-content: flex-end;
  }
}


table, .p-tag-label {
  font-size: 0.6em ;
}

.card {
  border-radius: 12px;
  overflow: hidden;
   box-shadow: 0px 3px 6px 0px rgb(0 0 0 / 39%);
 }
